In [2]:
!pip list

Package                   Version
------------------------- -----------
altair                    5.5.0
asttokens                 3.0.0
attrs                     24.3.0
bleach                    6.2.0
blinker                   1.9.0
cachetools                5.5.0
certifi                   2024.12.14
charset-normalizer        3.4.0
click                     8.1.7
colorama                  0.4.6
comm                      0.2.2
debugpy                   1.8.11
decorator                 5.1.1
executing                 2.1.0
gitdb                     4.0.11
GitPython                 3.1.43
idna                      3.10
ipykernel                 6.29.5
ipython                   8.31.0
jedi                      0.19.2
Jinja2                    3.1.4
jsonschema                4.23.0
jsonschema-specifications 2024.10.1
jupyter_client            8.6.3
jupyter_core              5.7.2
kaggle                    1.6.17
markdown-it-py            3.0.0
MarkupSafe                3.0.2
matplotlib-inline         0.1.7
mdurl                     0.1.2
narwhals                  1.19.0
nest-asyncio              1.6.0
numpy                     2.2.0
packaging                 24.2
pandas                    2.2.3
parso                     0.8.4
pillow                    11.0.0
pip                       24.3.1
platformdirs              4.3.6
prompt_toolkit            3.0.48
protobuf                  5.29.2
psutil                    6.1.1
pure_eval                 0.2.3
pyarrow                   18.1.0
pydeck                    0.9.1
Pygments                  2.18.0
python-dateutil           2.9.0.post0
python-slugify            8.0.4
pytz                      2024.2
pywin32                   308
pyzmq                     26.2.0
referencing               0.35.1
requests                  2.32.3
rich                      13.9.4
rpds-py                   0.22.3
six                       1.17.0
smmap                     5.0.1
stack-data                0.6.3
streamlit                 1.41.1
tenacity                  9.0.0
text-unidecode            1.3
toml                      0.10.2
tornado                   6.4.2
tqdm                      4.67.1
traitlets                 5.14.3
typing_extensions         4.12.2
tzdata                    2024.2
urllib3                   2.2.3
watchdog                  6.0.0
wcwidth                   0.2.13
webencodings              0.5.1

In [1]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to d:\progicts\guvi project\Retail

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|██████████| 200k/200k [00:00<00:00, 244kB/s]
100%|██████████| 200k/200k [00:00<00:00, 244kB/s]

In [3]:
import zipfile
with zipfile.ZipFile('D:\progicts\guvi project\Retail\env\Scripts\orders.csv.zip', 'r') as zip_ref:
    zip_ref.extractall('orders.csv')

<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
C:\Users\Admin\AppData\Local\Temp\ipykernel_21840\2501660633.py:2: SyntaxWarning: invalid escape sequence '\p'
  with zipfile.ZipFile('D:\progicts\guvi project\Retail\env\Scripts\orders.csv.zip', 'r') as zip_ref:

In [4]:
import pandas as pd
df = pd.read_csv('./orders.csv/orders.csv')
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [5]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [6]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [7]:
df.dropna(inplace=True)
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [8]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [9]:
df.rename(columns={'Order Id':'order_id', 'Order Date':'order_date', 'Ship Mode':'ship_mode', 'Segment':'segment', 'Country':'country', 'City':'city',
       'State':'state', 'Postal Code':'postal_code', 'Region':'region', 'Category':'Category', 'Sub Category':'sub_category',
       'Product Id':'product_id', 'cost price':'cost_price', 'List Price':'list_price', 'Quantity':'quantity',
       'Discount Percent':'discount_percent'}, inplace=True)

In [10]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'Category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [11]:
df['discount']=df['list_price']*df['discount_percent']/ 100
df['sales_price']=df['list_price']-df['discount']
df['profit']=df['sales_price']-df['cost_price']

In [12]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,Category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [13]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'Category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount', 'sales_price', 'profit'],
      dtype='object')

In [15]:
mydata = df[['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'Category']]
mydata.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,Category
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies

In [16]:
mydata1 = df[['order_id', 'sub_category', 'product_id', 'cost_price', 'list_price', 'quantity', 'discount_percent', 'discount', 'sales_price', 'profit']]
mydata1.head()

,order_id,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [17]:
df.to_csv('my_data.csv',index=False)
mydata.to_csv('my_data1.csv', index=False)
mydata1.to_csv('my_data2.csv', index=False)